<html>
    <head>
        <title>Quilt Measurement</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <form method="get">
            <button id="width-button" type="button" formaction="/measurement/width">
                Measure Width
            </button>
            <button id="height-button" type="button" formaction="/measurement/height">
                Measure Height
            </button>
        </form>
        <p>
            Width: <span id="display-width">{{ width }}</span>
        </p>
        <p>
            Height: <span id="display-height">{{ height }}</span>
        </p>     
        <script>
            document.querySelector('#width-button').addEventListener('click', async (event) => {
                event.preventDefault();
                const response = await fetch('/measurement/width', { method: 'GET' });
                const data = await response.text();
                document.getElementById('display-width').textContent = data;
            });
            document.querySelector('#height-button').addEventListener('click', async (event) => {
                event.preventDefault();
                const response = await fetch('/measurement/height', { method: 'GET' });
                const data = await response.text();
                document.getElementById('display-height').textContent = data;
            });
        </script>
        <p>Testing Mobile</p>
    </body>
</html>
    